<div class="container-fluid border-box">
    <div class="row text-light flex-lg between-md middle-md">
		<div class="col-md-7 col-xs-12">The EU Pollinator Week is co-organised by Member of the European Parliament, Martin Hojsík, and BeeLife European Beekeeping Coordination. Coordinating partners include the Directorate General of the Environment of the European Commission, the European Food Safety Authority, and the Slovenian Presidency of the Council of the EU.</div>

		<div class="col-md-5 col-xs-12 end-md center-xs powered-by">
			<div class="row middle-xs between-xs">
				<div class="col-md-3 col-xs-12 center-xs"><a  href="/partners">Organisers</a></div>
				<div class="col-md-3 col-xs-12"><a  href="/privacy-policy">Privacy Policy</a></div>
				<div class="col-md col-xs-12 end-md center-xs">Created and maintained by&nbsp;<a href="https://pensoft.net/" target="_blank">Pensoft</a></div>
			</div>
		</div>

    </div>
</div>
