<div class="container-fluid border-box">
    <div class="row nowrap text-light d-flex justify-content-between align-items-center flex-column flex-lg-row">
		<div class="col-md-1 col-xs-6 start-md"><a  href="/partners">Organisers</a></div>
		<div class="col-md-2 col-xs-6 start-md"><a  href="/privacy-policy">Privacy Policy</a></div>
		<div class="col-md col-xs">&nbsp;</div>
		<div class="col-md-3 col-xs-12 end-md center-xs">
			<div class="powered-by end-md center-xs">Created and maintained by &nbsp; <a href="https://pensoft.net/" target="_blank">Pensoft</a></div>
		</div>
    </div>
</div>
