.tabs{
  color: @h3-heading-color!important;
  .col-md-1.col-xs-12{
    padding: 0!important;
    margin: 0!important;
    display: flex;
    min-width: 150px;
  }

  .satellite_events{
    white-space: nowrap;
  }

  .btn-primary {
    color: #003d70;
    background-color: #ffffff;
    border-color: #003d70;
    border-radius: 50px 50px 50px 50px;
    -moz-border-radius: 50px 50px 50px 50px;
    -webkit-border-radius: 50px 50px 50px 50px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    margin: unset;
    display: inline-flex;
    &:hover, &.active{
      color: #ffffff;
      background-color: #003d70;
      border-color: #003d70;
    }

    .breakpoint-small-down({
      display: inline-block;
      margin-bottom: 20px;
    });
  }

  .info p{
    color: #505565!important;
  }

  .info{
    color: #505565!important;
    font-size: 18px;
    a{
      color: @h3-heading-color;
    }
  }


  .event-item{
    margin-bottom: 40px;
    background: #f0f0f0;
    //max-width: 49%;
  }

  .event-time-date-place{
    background: @secondary-heading-color;
    color: @white-color;
    font-size: 20px;
    line-height: 33px;
    padding: 20px 40px;
    white-space: nowrap;
    max-width: fit-content;
    min-width: 657px;
    .breakpoint-large-down({
      white-space: unset;
      max-width: 100%;
      min-width: 100%;
    });
    .breakpoint-small-down({
      white-space: unset;
      max-width: unset;
      min-width: unset;
    });



    .time{
      background: url('../../assets/images/location-02.svg') left center no-repeat;
      background-size: 18px;
      padding-left: 30px;
      margin-left: 40px;
    }
    .place{
      background: url('../../assets/images/time-01.svg') left center no-repeat;
      background-size: 18px;
      padding-left: 30px;
      margin-left: 40px;
    }

    span{
      .breakpoint-small-down({
        margin-left: 0!important;
      display: block;
      });
    }

  }



  .type{
    color: @secondary-heading-color;
    font-weight: 600;
    text-align: right;
    display: table;
    padding: 0!important;

    .text{
      line-height: 28px;
    }

    .red-spot{
      background: @secondary-heading-color;
      width: 60px;
      height: 28px;
      margin-left: 40px;
      display: table-cell;
    }

  }

  .event-content{
    padding: 20px 40px 40px 40px;
    .title{
      font-size: 28px;
      line-height: 32px;
      font-weight: 600;
      color: @h3-heading-color!important;
    }
  }



  .subsections{
    margin: 80px 0 0 0;

    .section-item{
      background: @white-color;
      padding: 20px;
      margin-bottom: 32px;
      //max-width: 49%;
      color: #505565!important;

      .info.section-desc p{
        color: #505565!important;
      }
    }
  }

}


.speakers{
  .speaker-item{
    margin-bottom: 80px;
    //background: #f0f0f0;
  }

  .speakers-group-item{
    padding: 20px 0.5rem;
    //display: inline-block;
    //display: flex;
    //flex-direction: column;
    //flex-wrap: wrap;
    //height: 2500px;


    //-webkit-column-count: 5;
    //-moz-column-count: 5;
    //column-count: 5;
    //-webkit-column-gap: 0px;
    //-moz-column-gap: 0px;
    //column-gap: 0px;
    //-webkit-column-width: 283px; /* Chrome, Safari, Opera */
    //-moz-column-width: 283px; /* Firefox */
    //column-width: 283px;

    //.breakpoint-small-down({
    //  column-count: 1;
    //});
    //
    //.breakpoint-laptop-down({
    //  column-count: 3;
    //});
    //
    //.breakpoint-laptop15-down({
    //  column-count: 4;
    //});

  }

  .speaker-time-date-place{
    color: @secondary-heading-color;
    font-size: 30px;
    line-height: 33px;
    white-space: nowrap;
    max-width: fit-content;
    font-weight: bold;
    margin-bottom: 22px;
    .breakpoint-small-down({
    white-space: normal;
    });
  }



  .type{
    color: @secondary-heading-color;
    font-weight: 600;
    text-align: right;
    display: table;
    padding: 0!important;

    .text{
      line-height: 28px;
    }

    .red-spot{
      background: @secondary-heading-color;
      width: 60px;
      height: 28px;
      margin-left: 40px;
      display: table-cell;
    }

  }

  .speaker-content{
    max-width: 100%;
    margin-bottom: 30px;
    background: #f0f0f0;
    position: relative;
    margin-right: 30px;
    width: 283px;
    display: inline-block;
    break-inside: avoid;
    .breakpoint-small-down({
      max-width: 100%;
      margin-right: 0px;
      display: block;
    });

    .image-container{
      min-width: 283px;
      .breakpoint-small-down({
        min-width: unset;
      });
    }

    .keynote{
      background-color: @secondary-heading-color;
      color: @white-color;
      font-weight: 600;
      text-align: right;
      display: table;
      margin-bottom: 10px;
      position: absolute;
      top: 0;
      left: 0;
      padding: 5px 10px;
    }



    .col-xs-12{
      padding: 0!important;
    }

    .info-container.col-xs-12{
      padding: 20px!important;
      min-height: 300px;
    }

    .title, .title a{
      font-size: 25px;
      min-width: 100%;
      //font-weight: 600;
      color: @h3-heading-color!important;
    }

    a:hover{
      opacity: 0.7;
    }

    .speaker-department{
      color: @h3-heading-color!important;
      margin-bottom: 20px;
      margin-top: 20px;
    }
    .speaeker-pannels{
      color: @h3-heading-color!important;

      ul{
        padding: 0;
        margin-top: 5px!important;
        a {
          display: block;
          font-size: 16px;
          line-height: 20px;
          margin-top: 15px;
          margin-bottom: 15px;
          font-weight: bold;
        }
      }

    }

    img{
      .breakpoint-small-down({
        margin-bottom: 40px;
        max-width: 100%;
        width: 100%;
        height: auto;
      });
    }

    .expand{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      color: @white-color;
      background-color: @h3-heading-color;
      font-size: 24px!important;
      line-height: 26px!important;
      text-align: center;
      margin: 0 auto;
      padding-top: 0px!important;
      padding-bottom: 0px!important;
    }

    .expandable_content{
      display: none;
    }

  }

  .no-logo-speaker{
    background: #003D70 url('../../assets/images/avatar-03.svg') center no-repeat;
    background-size: 50%;
    width: 283px;
    height: 306px;
    .breakpoint-small-down({
      margin: 0 auto 40px auto;
      width: 100%;
    });
  }


}

.speaker-detailed-page{
  .image-container{
    min-width: 250px;
    img{
      height: auto;
      width: auto;
      max-width: 100%;
      .breakpoint-small-down({
        max-width: 100%!important;
        height: auto!important;
      });

    }

  }
  //h7{
  //  margin-bottom: 40px!important;
  //  font-size: 45px;
  //  line-height: 1.5em;
  //  color: @h3-heading-color!important;
  //}

  h2{
    color: @h3-heading-color!important;
    .breakpoint-small-down({
    text-align: center;
    margin-top: 20px;
    });
  }
  h3{
    color: @secondary-heading-color!important;
  }

  .speaker-department{
    margin-bottom: 40px;
    margin-top: 40px;
  }

  .btn-primary{
    font-size: 20px;
    margin: 20px 0 0 0;
  }

  .no-logo-speaker{
    background: #003D70 url('../../assets/images/avatar-03.svg') center no-repeat;
    background-size: 50%;
    width: 517px;
    max-width: 100vw!important;
    height: 557px;
    .breakpoint-small-down({
      width: 100%;
    });
  }
}

.show_event_time{
  font-size: 0.8em;
  .breakpoint-small-down({
    font-size: 0.8em;
  });
}

