.library-container + .library-container {
    .border-top;
    margin-top: 2rem;
    padding-top: 2rem;
}
.libraryForm {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.library-item img{
  margin: 0 auto;
  width: 100%;
  display: table;
  background: none;
  object-fit: cover;
  max-width: 350px;
}

.library{
  form{
    display: none;
  }

  .btn-primary{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
  }

  .body div{
    text-align: left!important;
    margin: 10px 0;
  }
}

.resource_tab.mr-1{
  .breakpoint-small-down({
    width: 100%;
    margin-right: 0!important;
  });
}

.library-item{
  padding: 30px!important;
  background: #f0f0f0;
  //max-width: 49%;
}
