.partner-item{
  margin-bottom: 94px;
  //margin-right: 20px;
  min-width: 32%;
  display: block;
  color: #003D70;
  //&:nth-child(3n){
  //  margin-right: 0;
  //}

  h3{
    color: #003D70;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    height: 76px;
    .breakpoint-small-down({
      height: auto;
    });
    a{
      color: #003D70!important;
    }
  }
  p{
    color: #003D70;
  }
  img{
    .breakpoint-small-down({
      margin: 0 auto 40px auto;
    });
  }
  .no-logo-partner{
    background: #003D70;
    color: @white-color;
    width: 159px;
    height: 150px;
    text-align: center;
    line-height: 150px;
    font-size: 28px;
    .breakpoint-small-down({
      margin: 0 auto 40px auto;
    });
  }
}