url = "/agenda/:slug?|[a-zA-Z\-0-9]"
layout = "default"
title = "Programme"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

==
<?php
	use Pensoft\Calendarcardsextension\Models\Records;
	use Carbon\Carbon;

	function onStart(){
		$events = Records::events();
		$day1 = '2021-09-27';
		$this['day1_events'] = $events->filter(function ($item) use ($day1) {
			return (Carbon::parse( data_get($item, 'start'))->format('Y-m-d') >= $day1 && Carbon::parse( data_get($item, 'start'))->format('Y-m-d') <= $day1);
		});

		$day2 = '2021-09-28';
		$this['day2_events'] = $events->filter(function ($item) use ($day2) {
			return (Carbon::parse( data_get($item, 'start'))->format('Y-m-d') >= $day2 && Carbon::parse( data_get($item, 'start'))->format('Y-m-d') <= $day2);
		});

		$day3 = '2021-09-29';
		$this['day3_events'] = $events->filter(function ($item) use ($day3) {
			return (Carbon::parse( data_get($item, 'start'))->format('Y-m-d') >= $day3 && Carbon::parse( data_get($item, 'start'))->format('Y-m-d') <= $day3);
		});

		$day4 = '2021-09-30';
		$this['day4_events'] = $events->filter(function ($item) use ($day4) {
			return (Carbon::parse( data_get($item, 'start'))->format('Y-m-d') >= $day4 && Carbon::parse( data_get($item, 'start'))->format('Y-m-d') <= $day4);
		});

	}

?>
==
<div class="container">
	<h1 class="display-1">Programme</h1>

	<div class="container tabs">
		<div class="row mb-4">
			<div class="col-md-1 col-xs-12">
				<a href="#september27" title="Day 1" class="btn btn-primary">
					Day 1
				</a>
			</div>
			<div class="col-md-1 col-xs-12">
				<a href="#september28" title="Day 2" class="btn btn-primary">
					Day 2
				</a>
			</div>
			<div class="col-md-1 col-xs-12">
				<a href="#september29" title="Day 3" class="btn btn-primary">
					Day 3
				</a>
			</div>
			<div class="col-md-1 col-xs-12">
				<a href="#september30" title="Day 4" class="btn btn-primary">
					Day 4
				</a>
			</div>
		</div>




		<!--tabs content	-->
		<div class="row" id="september27">
			{% for event in day1_events %}
			<div class="col-xs-12 event-item">
				<div class="row middle-xs">
					<div class="col-md-6 col-xs-12 event-time-date-place">
						<span class="date">{{event.start|date("j F Y")}}</span>
						<span class="time">{{event.start|date("H:i")}}</span>
						<span class="place">{{event.place}}</span>
					</div>
					<div class="col-xs">&nbsp;</div>
					<div class="col-md-3 col-xs-12 type"><span class="text mr-1">{{event.name}}</span><span class="red-spot"></span></div>
				</div>
				<div class="row">
					<div class="col-xs-12 event-content">
						<div class="title">{{event.title}}</div>
						{% if event.speakers.count() %}
							<div class="speaeker">Speakers:
								{% for speaker in event.speakers %}
									{{speaker.names}}{% if not loop.last %},{% endif %}
								{% endfor %}
							</div>
						{% endif %}
						<div class="join mt-1">
							<a href="{{'contact'|page}}" class="btn btn-primary">Join</a>
						</div>
					</div>
				</div>

			</div>
			{% endfor %}
		</div>


		<div class="row" id="september28">
			{% for event in day2_events %}
			<div class="col-xs-12 event-item">
				<div class="row middle-xs">
					<div class="col-md-6 col-xs-12 event-time-date-place">
						<span class="date">{{event.start|date("j F Y")}}</span>
						<span class="time">{{event.start|date("H:i")}}</span>
						<span class="place">{{event.place}}</span>
					</div>
					<div class="col-xs">&nbsp;</div>
					<div class="col-md-3 col-xs-12 type"><span class="text mr-1">{{event.name}}</span><span class="red-spot"></span></div>
				</div>
				<div class="row">
					<div class="col-xs-12 event-content">
						<div class="title">{{event.title}}</div>
						{% if event.speakers.count() %}
						<div class="speaeker">Speaker:
							{% for speaker in event.speakers %}
							{{speaker.names}}{% if not loop.last %},{% endif %}
							{% endfor %}
						</div>
						{% endif %}
						<div class="join mt-1">
							<a href="{{'contact'|page}}" class="btn btn-primary">Join</a>
						</div>
					</div>
				</div>

			</div>
			{% endfor %}
		</div>


		<div class="row" id="september29">
			{% for event in day3_events %}
			<div class="col-xs-12 event-item">
				<div class="row middle-xs">
					<div class="col-md-6 col-xs-12 event-time-date-place">
						<span class="date">{{event.start|date("j F Y")}}</span>
						<span class="time">{{event.start|date("H:i")}}</span>
						<span class="place">{{event.place}}</span>
					</div>
					<div class="col-xs">&nbsp;</div>
					<div class="col-md-3 col-xs-12 type"><span class="text mr-1">{{event.name}}</span><span class="red-spot"></span></div>
				</div>
				<div class="row">
					<div class="col-xs-12 event-content">
						<div class="title">{{event.title}}</div>
						{% if event.speakers.count() %}
						<div class="speaeker">Speaker:
							{% for speaker in event.speakers %}
							{{speaker.names}}{% if not loop.last %},{% endif %}
							{% endfor %}
						</div>
						{% endif %}
						<div class="join mt-1">
							<a href="{{'contact'|page}}" class="btn btn-primary">Join</a>
						</div>
					</div>
				</div>

			</div>
			{% endfor %}
		</div>


		<div class="row" id="september30">
			{% for event in day4_events %}
			<div class="col-xs-12 event-item">
				<div class="row middle-xs">
					<div class="col-md-6 col-xs-12 event-time-date-place">
						<span class="date">{{event.start|date("j F Y")}}</span>
						<span class="time">{{event.start|date("H:i")}}</span>
						<span class="place">{{event.place}}</span>
					</div>
					<div class="col-xs">&nbsp;</div>
					<div class="col-xs-md-3 col-xs-12 type"><span class="text mr-1">{{event.name}}</span><span class="red-spot"></span></div>
				</div>
				<div class="row">
					<div class="col-xs-12 event-content">
						<div class="title">{{event.title}}</div>
						{% if event.speakers.count() %}
						<div class="speaeker">Speaker:
							{% for speaker in event.speakers %}
							{{speaker.names}}{% if not loop.last %},{% endif %}
							{% endfor %}
						</div>
						{% endif %}
						<div class="join mt-1">
							<a href="{{'contact'|page}}" class="btn btn-primary">Join</a>
						</div>
					</div>
				</div>

			</div>
			{% endfor %}
		</div>

		<!-- end  content	-->
	</div>
</div>