url = "/resources"
layout = "default"
title = "Resources"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[LibraryPage]
templates = "template4"
no_records_message = "No records found"
==
<?php
use Pensoft\Library\Models\Library;
use System\Models\File;

function onStart(){
			$library = Library::orderBy('year', 'asc')->get();

			$this['video_resources'] = $library->filter(function ($item) {
				return $item->type == 7;
			});

			$this['presentations_resources'] = $library->filter(function ($item) {
				return $item->type == 8;
			});

			$this['other_resources'] = $library->filter(function ($item) {
				return $item->type == 9;
			});


			if(get('download')){
				$file = File::find((int)get('download'));
				$file_name = $file->getLocalPath();

				$ext= $file->getExtension();
				$recordName = get('file_name') ? get('file_name') : 'PollinatorWees.'.$ext;

				if (file_exists($file_name)) {
					header('Content-Description: File Transfer');
					header('Content-Type: application/octet-stream');
					header("Content-Type: application/force-download");
					header('Content-Disposition: atntachment; filename='.$recordName);
					header('Content-Transfer-Encoding: binary');
					header('Expires: 0');
					header('Cache-Control: must-revalidate, post-check=0, pre-check=0');
					header('Pragma: public');
					header('Content-Length: ' . filesize($file_name));
					ob_clean();
					flush();
					readfile($file_name);
					exit();
				}
				return Redirect::back();
			}


}
?>
==
<div class="container">
	<h1 class="display-1">Resources</h1>

	<div class="container tabs">
		<div class="row mb-4">
			<div class="resource_tab mr-1">
				<a href="#video" title="Video" class="btn btn-primary video">
					Video
				</a>
			</div>
			<div class="resource_tab mr-1">
				<a href="#presentations" title="Presentations" class="btn btn-primary presentations" style="white-space: nowrap; min-width: fit-content;">
					Presentations
				</a>
			</div>
			<div class="resource_tab mr-1">
				<a href="#other" title="Other" class="btn btn-primary other">
					Other
				</a>
			</div>

		</div>




		<!--tabs content	-->
		<div class="row" id="video">
			{% for record in video_resources %}
			<div class="library-item col-xs-12 mb-2">
				<div class="row">
				{% if record.preview %}
				<div class="col-md-3 col-xs-12">
					<img src="{{record.preview.path}}" >
				</div>
				{% elseif 'video' in record.file.content_type %}
					<div class="col-md-3 col-xs-12">
						<video  title="{{ record.title }}" controls="" width="100%" height="220"><source src="{{record.file.path}}#t=3" type="video/mp4"></video>
					</div>
				{% elseif record.doi %}
					<div class="col-md-3 col-xs-12">
						<iframe width="100%" height="220" src="{{record.doi}}" title="{{ record.title }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				{% endif %}

				<div class="col-xs pl-1">
					<div class="news-title">
						<h3 class="card-title">{{ record.title }}</h3>
					</div>
					<div class="body">
						{% partial __SELF__ ~ "::libraries-content" label="Presenter:" value=record.authors %}
						{% partial __SELF__ ~ "::libraries-content" label="Presentation title:" value=record.project_title %}
						{% partial __SELF__ ~ "::libraries-content" label="Date:" value=record.date_attr %}
					</div>
					{%if record.file %}
					<div class="col-xs-12 text-center">
						<div class="row middle-xs">
							<div class="col-xs-12">
								<div class="d-flex flex-column justify-content-start flex-lg-row mt-1 d-flex align-items-start">
									<a href="javascript:void(0);" onclick="redirectAndActivateSelf(this, '{{ ''| page }}?{{queries}}&download={{record.file.id}}&file_name={{record.file.file_name|replace({' ': '_'})}}');" class="btn btn-primary no-margin"><i class="pr normal p-download"></i>Download ({{(record.file.file_size / 1024 / 1024 )|round(2)}} MB)</a>
									<!--<a href="{{ ''| page }}?{{queries}}&download={{record.file.id}}&file_name={{record.file.file_name|replace({' ': '_'})}}" class="btn btn-primary no-margin join"><i class="pr normal p-download"></i>Download ({{(record.file.file_size / 1024 / 1024 )|round(2)}} MB)</a>-->

								</div>
							</div>
						</div>
					</div>
					{%endif%}
				</div>


			</div>
			</div>
			{% endfor %}
		</div>


		<div class="row" id="presentations">
			{% for record in presentations_resources %}
			<div class="library-item col-xs-12 mb-2">
				<div class="row">
					{% if record.preview %}
					<div class="col-md-3 col-xs-12">
						<img src="{{record.preview.path}}" >
					</div>
					{% elseif 'video' in record.file.content_type %}
					<div class="col-md-3 col-xs-12">
						<video  title="{{ record.title }}" controls="" width="100%"><source src="{{record.file.path}}#t=3" type="video/mp4"></video>
					</div>
					{% elseif record.doi %}
					<div class="col-md-3 col-xs-12">
						<iframe width="100%" src="{{record.doi}}" title="{{ record.title }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
					{% endif %}

					<div class="col-xs pl-1">
						<div class="news-title">
							<h3 class="card-title">{{ record.title }}</h3>
						</div>
						<div class="body">
							{% partial __SELF__ ~ "::libraries-content" label="Presenter:" value=record.authors %}
							{% partial __SELF__ ~ "::libraries-content" label="Presentation title:" value=record.project_title %}
							{% partial __SELF__ ~ "::libraries-content" label="Date:" value=record.date_attr %}
						</div>
						{%if record.file %}
						<div class="col-xs-12 text-center">
							<div class="row middle-xs">
								<div class="col-xs-12">
									<div class="d-flex flex-column justify-content-start flex-lg-row mt-1 d-flex align-items-start">
										<a href="javascript:void(0);" onclick="redirectAndActivateSelf(this, '{{ ''| page }}?{{queries}}&download={{record.file.id}}&file_name={{record.file.file_name|replace({' ': '_'})}}');" class="btn btn-primary no-margin"><i class="pr normal p-download"></i>Download ({{(record.file.file_size / 1024 / 1024 )|round(2)}} MB)</a>
										<!--<a href="{{ ''| page }}?{{queries}}&download={{record.file.id}}&file_name={{record.file.file_name|replace({' ': '_'})}}" class="btn btn-primary no-margin join"><i class="pr normal p-download"></i>Download ({{(record.file.file_size / 1024 / 1024 )|round(2)}} MB)</a>-->

									</div>
								</div>
							</div>
						</div>
						{%endif%}
					</div>


				</div>
			</div>
			{% endfor %}
		</div>


		<div class="row" id="other">
			{% for record in other_resources %}
			<div class="library-item col-xs-12 mb-2">
				<div class="row">
					{% if record.preview %}
					<div class="col-md-3 col-xs-12">
						<img src="{{record.preview.path}}" >
					</div>
					{% elseif 'video' in record.file.content_type %}
					<div class="col-md-3 col-xs-12">
						<video  title="{{ record.title }}" controls="" width="100%"><source src="{{record.file.path}}#t=3" type="video/mp4"></video>
					</div>
					{% elseif record.doi %}
					<div class="col-md-3 col-xs-12">
						<iframe width="100%" src="{{record.doi}}" title="{{ record.title }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
					{% endif %}

					<div class="col-xs pl-1">
						<div class="news-title">
							<h3 class="card-title">{{ record.title }}</h3>
						</div>
						<div class="body">
							{% partial __SELF__ ~ "::libraries-content" label="Presenter:" value=record.authors %}
							{% partial __SELF__ ~ "::libraries-content" label="Presentation title:" value=record.project_title %}
							{% partial __SELF__ ~ "::libraries-content" label="Date:" value=record.date_attr %}
						</div>
						{%if record.file %}
						<div class="col-xs-12 text-center">
							<div class="row middle-xs">
								<div class="col-xs-12">
									<div class="d-flex flex-column justify-content-start flex-lg-row mt-1 d-flex align-items-start">
										<a href="javascript:void(0);" onclick="redirectAndActivateSelf(this, '{{ ''| page }}?{{queries}}&download={{record.file.id}}&file_name={{record.file.file_name|replace({' ': '_'})}}');" class="btn btn-primary no-margin"><i class="pr normal p-download"></i>Download ({{(record.file.file_size / 1024 / 1024 )|round(2)}} MB)</a>
										<!--<a href="{{ ''| page }}?{{queries}}&download={{record.file.id}}&file_name={{record.file.file_name|replace({' ': '_'})}}" class="btn btn-primary no-margin join"><i class="pr normal p-download"></i>Download ({{(record.file.file_size / 1024 / 1024 )|round(2)}} MB)</a>-->

									</div>
								</div>
							</div>
						</div>
						{%endif%}
					</div>


				</div>
			</div>
			{% endfor %}
		</div>


		<!-- end  content	-->
	</div>
</div>