title = "Partners"
url = "/partners"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

==
<?php
use Pensoft\Partners\Models\Partners;

function onStart(){
	$this['partners'] =  Partners::all();
}
?>
==
<div class="container">
	<h1 class="display-1">Organisers and partners</h1>
	<div class="row mt-4">


	{% for partner in partners %}
		<div class="col-xs-12 col-md-3 partner-item">
			<div class="row">
				<div class="col-md-5 col-xs-12 start-md center-xs">
					{% if partner.cover %}
						<img src="{{partner.cover|resize(159, 150, { mode: 'crop' })}}">
					{% else %}
						<div class="no-logo-partner">Logo</div>
					{% endif %}
				</div>
				<div class="col-md-7 col-xs-12"><h3>{{partner.instituion}}</h3>
					{{partner.content|raw}}</div>
			</div>
		</div>


	{% endfor %}
	</div>


</div>